apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app-kid-dev

bases:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: backend
        namespace: app-kid-dev
      spec:
        replicas: 1
    target:
      kind: Deployment
      name: backend
  
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: frontend
        namespace: app-kid-dev
      spec:
        replicas: 1
    target:
      kind: Deployment
      name: frontend

configMapGenerator:
  - name: backend-config
    behavior: merge
    literals:
      - DEBUG=True
      - ALLOWED_HOSTS=*.app-kid-dev.svc.cluster.local,localhost,dev.kid-livraison.local

images:
  - name: ghcr.io/VOTRE_ORG/kid-backend
    newTag: dev-latest
  - name: ghcr.io/VOTRE_ORG/kid-frontend
    newTag: dev-latest

replicas:
  - name: postgres
    count: 1
