apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: app-kid
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:latest
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_NAME
              value: appkid
            - name: DB_USER
              value: appkiduser
            - name: DB_PASSWORD
              value: appkidpass
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: app-kid
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
